// Establishes color variables

$green-light:   #a6d6b8;
$green-dark:    #6a9a8a;
$yellow:        #fac557;
$yellow-vibrant:#ffb400;
$red:           #f06339;
$pink:          #F6A6A4;
$cream:         #f9ebc8;
$purple:        #353450;
$purple-dark:   #2C0E37;
