// ichiban
@font-face {
    font-family: 'ichiban';
    src: url('../assets/fonts/ichiban/Ichiban.otf');
}

@font-face {
    font-family: 'ichiban';
    src: url('../assets/fonts/ichiban/Ichiban-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'ichiban_marker';
    src: url('../assets/fonts/ichiban/Ichiban-Marker.otf');
}

@font-face {
    font-family: 'ichiban_stamp';
    src: url('../assets/fonts/ichiban/Ichiban-Stamp.otf');
}

@font-face {
    font-family: 'ichiban_wide';
    src: url('../assets/fonts/ichiban/Ichiban-Wide.otf');
}

@font-face {
    font-family: 'ichiban_slim';
    src: url('../assets/fonts/ichiban/Ichiban-Stamp.otf');
}

// enceladus
@font-face {
    font-family: 'enceladus';
    src: url('../assets/fonts/enceladus/EnceladusRegular.otf');
}

@font-face {
    font-family: 'enceladus';
    src: url('../assets/fonts/enceladus/EnceladusBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'enceladus';
    src: url('../assets/fonts/enceladus/EnceladusDemibold.otf');
    font-weight: 500;
}