@import '_reset.scss';
@import '_fonts.scss';
@import '_colors.scss';

.container {
    display: flex;
    padding: 10px 15px 7px;
    position: relative;
}

.align-items_center {
    align-items: center;;
}
.align-items_bottom {
    align-items: flex-end;
}

.display_inline {
    display: inline;
}

.children-display_inline-block > * {
    display: inline-block;
}

.width_full {
    width: 100%;
}

.width_half {
    width: 50%;
}

.text-align_right {
    text-align: right;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

/* Specifics */
body {
    font-family: 'ichiban_slim';
    color: $purple;
}

.header {
    background: $green-light;
}

/* .code {
    font-family: 'Courier';
} */

.header .title {
    font-size: 32px;
}

.header .title-path {
    margin-bottom: 4px;
}

.main {
    background: $green-dark;
    height: 100vh;
}

.main .code span:first-child,
.main .code span:last-child {
    margin-left: 0;
}

.main .code span {
    margin-left: 15px;
}

.code.container {
    flex-direction: column;
}

.container.cards {
    justify-content: space-evenly;
}

.card {
    height: 403px;
    width: 240px;
    border-radius: 5px;
    background: $cream;
    background-color: transparent;
    // width: 300px;
    // height: 200px;
    // border: 1px solid #f1f1f1;
    perspective: 1000px;
    &:hover {
        .container_inner {
            transform: rotateY(180deg);
        }
    }
}

.container_inner {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
}

.front {
    background: $cream;
}

.back {
    transform: rotateY(180deg);

}

.card .title {
    font-size: 20px;
    position: absolute;
    top: 12px;
    left: 15px;
}

.card .polygon {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.card .front .background {
    background: $purple;
    clip-path: polygon(0% 14%, 0% 100%, 0% 100%, 100% 100%, 100% 7%);
    -webkit-clip-path: polygon(0% 14%, 0% 100%, 0% 100%, 100% 100%, 100% 7%);
}

.card .back .background {
    background: $purple;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.card .angle {
    background: $red;
    clip-path: polygon(0% 13%, 0% 100%, 0% 14%, 100% 8%, 100% 7%);
    -webkit-clip-path: polygon(0% 13%, 0% 100%, 0% 14%, 100% 8%, 100% 7%);
}

.card .angle2 {
    background: $yellow;
    clip-path: polygon(0% 12%, 0% 100%, 0% 13%, 100% 7%, 100% 6%);
    -webkit-clip-path: polygon(0% 12%, 0% 100%, 0% 13%, 100% 7%, 100% 6%);
}

.card ul {
    width: 206px;
    margin: 0 auto;
    background: $cream;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px $red;
    position: absolute;
    text-align: left;
    /* padding-left: 15px; */
    bottom: 15px;
    left: 17px;
}

.card ul li {
    padding: 2px 5px 2px 15px;
}