@keyframes fadeStatic {
    from {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    65% {
        opacity:.8
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeTvIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.television {
    &-container {
        justify-content: center;
    }
    &.outer-container {
        height: 300px;
        width: 300px;
        min-width: 300px;
        background: $rose;
        box-shadow: 
        3px 1px 4px 1px darken($green-dark, 10%),
        inset 2px 0px 1px darken($rose, 20%),
        inset 17px -6px 1px darken($rose, 15%);
        border-radius: 35px;
        z-index: 10;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 17px;
        position: relative;
        flex-direction: column;
    }
    &.inner-container {
        height: 200px;
        width: 230px;
        background: $pink;
        position: absolute;
        top: 10%;
        border-radius: 25%;
        box-shadow: 5px -2px 1px 1px darken($rose,10%), -1px 2px 1px 1px darken($rose,10%);
        overflow: hidden;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%,0);
        opacity: 0;
        .ytp-title-text {
            visibility: hidden;
        }
    }
    &.arrow {
        height: 35px;
        width: 25px;
        background: $purple;
        position: absolute;
        bottom: 8%;
        left: 12%;
        filter: drop-shadow(1px 2px 2px darken($rose, 10%));
        -webkit-filter: drop-shadow(1px 2px 2px darken($rose, 10%));
        &.left {
            clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
            -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
            .angle {
                &.upper {
                    clip-path: polygon(0% 50%, 100% 0%, 100% 3%, 0% 53%);
                    -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 3%, 0% 53%);
                    background: darken($purple, 15%);
                }
                &.lower {
                    clip-path: polygon(0% 50%, 100% 100%, 100% 95%, 0% 45%);
                    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 95%, 0% 45%);
                    background: darken($purple, 20%);
                }
            }
            
        }
        &.right {
            left: 22%;
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            // box-shadow: 
            // inset 2px -2px 1px 1px darken($purple, 20%);
            .angle {
                &.left { 
                    clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
                    -webkit-clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
                    background: darken($purple, 20%);
                }
            }
        }
        .angle {
            position: absolute;
            width:100%;
            height:100%;
        }
    }
    &.dial {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background: $purple;
        position: absolute;
        bottom: 7%;
        right: 10%;
        cursor: pointer;
        box-shadow: 
            1px 1px 3px 1px darken($rose, 10%),
            inset 2px 0px 1px darken($purple, 20%),
            inset 3px -2px 1px darken($purple, 15%);
        &:active {
            box-shadow: 
                0px 1px 2px 0px darken($rose, 10%),
                inset 0px 0px 1px darken($purple, 20%),
                inset 0px 0px 1px darken($purple, 15%);
        }
    }

    canvas {
        width: 385px;
        height: 217px;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
    }

    &.display_on {
        iframe {
            animation-name: fadeTvIn;
            animation-duration: 1.5s;
            -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
            animation-timing-function: linear;
        }
        canvas {
            opacity: 1;
            animation-duration: 1.5s;
            animation-name: fadeStatic;
            -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
            animation-timing-function: linear;
            pointer-events: none;
        }
        &.static_none {
            iframe {
                opacity: 1;
            }
            canvas {
                opacity: 0;
            }
        }
    }
}