* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "ichiban";
  src: url("../assets/fonts/ichiban/Ichiban.otf");
}
@font-face {
  font-family: "ichiban";
  src: url("../assets/fonts/ichiban/Ichiban-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "ichiban_marker";
  src: url("../assets/fonts/ichiban/Ichiban-Marker.otf");
}
@font-face {
  font-family: "ichiban_stamp";
  src: url("../assets/fonts/ichiban/Ichiban-Stamp.otf");
}
@font-face {
  font-family: "ichiban_wide";
  src: url("../assets/fonts/ichiban/Ichiban-Wide.otf");
}
@font-face {
  font-family: "ichiban_slim";
  src: url("../assets/fonts/ichiban/Ichiban-Slim.otf");
}
@font-face {
  font-family: "enceladus";
  src: url("../assets/fonts/enceladus/EnceladusRegular.otf");
}
@font-face {
  font-family: "enceladus";
  src: url("../assets/fonts/enceladus/EnceladusBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "enceladus";
  src: url("../assets/fonts/enceladus/EnceladusDemibold.otf");
  font-weight: 500;
}
.controller {
  background: #f9ebc8;
  height: 300px;
  width: 300px;
  min-width: 300px;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 2px 0px 1px #efca6c, inset 17px -6px 1px #f1d283;
  border-radius: 35px;
  z-index: 10;
}

.controller ul {
  flex-wrap: wrap;
  height: 160px;
}
.controller ul div {
  display: flex;
  flex-direction: column;
}
.controller ul li {
  margin: 0 auto;
}

.button {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #a6d6b8;
  box-shadow: 3px 1px 4px 1px #83c69c, inset 4px 0px 1px #60b680, inset 0px -4px 1px #72be8e;
  border-radius: 5px;
  cursor: pointer;
}
.button div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button:hover, .button.hover {
  box-shadow: 1px 1px 4px 1px #83c69c, inset 4px 0px 1px #60b680, inset 3px -4px 1px #72be8e;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button:hover div, .button.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button:active {
  box-shadow: 0px 0px 4px 1px #83c69c, inset 3px 0px 1px #60b680, inset 3px -3px 1px #72be8e;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.yellow {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #fac557;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px #e49c07, inset 0px -4px 1px #f8ab0d;
  border-radius: 5px;
  cursor: pointer;
}
.button.yellow div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.yellow:hover, .button.yellow.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px #e49c07, inset 3px -4px 1px #f8ab0d;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.yellow:hover div, .button.yellow.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.yellow:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px #e49c07, inset 3px -3px 1px #f8ab0d;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.yellow-vibrant {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #ffb400;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px #996c00, inset 0px -4px 1px #b37e00;
  border-radius: 5px;
  cursor: pointer;
}
.button.yellow-vibrant div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.yellow-vibrant:hover, .button.yellow-vibrant.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px #996c00, inset 3px -4px 1px #b37e00;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.yellow-vibrant:hover div, .button.yellow-vibrant.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.yellow-vibrant:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px #996c00, inset 3px -3px 1px #b37e00;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.red {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #f06339;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px #b5340e, inset 0px -4px 1px #cd3b10;
  border-radius: 5px;
  cursor: pointer;
}
.button.red div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.red:hover, .button.red.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px #b5340e, inset 3px -4px 1px #cd3b10;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.red:hover div, .button.red.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.red:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px #b5340e, inset 3px -3px 1px #cd3b10;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.purple {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #353450;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px #0c0c12, inset 0px -4px 1px #161622;
  border-radius: 5px;
  cursor: pointer;
}
.button.purple div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.purple:hover, .button.purple.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px #0c0c12, inset 3px -4px 1px #161622;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.purple:hover div, .button.purple.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.purple:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px #0c0c12, inset 3px -3px 1px #161622;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.purple-dark {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #2C0E37;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px black, inset 0px -4px 1px black;
  border-radius: 5px;
  cursor: pointer;
}
.button.purple-dark div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.purple-dark:hover, .button.purple-dark.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px black, inset 3px -4px 1px black;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.purple-dark:hover div, .button.purple-dark.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.purple-dark:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px black, inset 3px -3px 1px black;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.button.pink {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #F6A6A4;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 4px 0px 1px #ed4b47, inset 0px -4px 1px #ef625e;
  border-radius: 5px;
  cursor: pointer;
}
.button.pink div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.button.pink:hover, .button.pink.hover {
  box-shadow: 1px 1px 4px 1px #547d6f, inset 4px 0px 1px #ed4b47, inset 3px -4px 1px #ef625e;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.button.pink:hover div, .button.pink.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.button.pink:active {
  box-shadow: 0px 0px 4px 1px #547d6f, inset 3px 0px 1px #ed4b47, inset 3px -3px 1px #ef625e;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}

.controller .button {
  margin: 5px;
}
.controller .button.yellow {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #fac557;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px #e49c07, inset 0px -4px 1px #f8ab0d;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.yellow div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.yellow:hover, .controller .button.yellow.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px #e49c07, inset 3px -4px 1px #f8ab0d;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.yellow:hover div, .controller .button.yellow.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.yellow:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px #e49c07, inset 3px -3px 1px #f8ab0d;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.controller .button.yellow-vibrant {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #ffb400;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px #996c00, inset 0px -4px 1px #b37e00;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.yellow-vibrant div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.yellow-vibrant:hover, .controller .button.yellow-vibrant.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px #996c00, inset 3px -4px 1px #b37e00;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.yellow-vibrant:hover div, .controller .button.yellow-vibrant.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.yellow-vibrant:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px #996c00, inset 3px -3px 1px #b37e00;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.controller .button.red {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #f06339;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px #b5340e, inset 0px -4px 1px #cd3b10;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.red div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.red:hover, .controller .button.red.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px #b5340e, inset 3px -4px 1px #cd3b10;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.red:hover div, .controller .button.red.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.red:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px #b5340e, inset 3px -3px 1px #cd3b10;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.controller .button.purple {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #353450;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px #0c0c12, inset 0px -4px 1px #161622;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.purple div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.purple:hover, .controller .button.purple.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px #0c0c12, inset 3px -4px 1px #161622;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.purple:hover div, .controller .button.purple.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.purple:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px #0c0c12, inset 3px -3px 1px #161622;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.controller .button.purple-dark {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #2C0E37;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px black, inset 0px -4px 1px black;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.purple-dark div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.purple-dark:hover, .controller .button.purple-dark.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px black, inset 3px -4px 1px black;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.purple-dark:hover div, .controller .button.purple-dark.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.purple-dark:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px black, inset 3px -3px 1px black;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}
.controller .button.pink {
  max-height: 40px;
  padding: 40px 5px 15px 15px;
  width: 59px;
  background: #F6A6A4;
  box-shadow: 3px 1px 4px 1px #f4da9a, inset 4px 0px 1px #ed4b47, inset 0px -4px 1px #ef625e;
  border-radius: 5px;
  cursor: pointer;
}
.controller .button.pink div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-2px, -1px, 0px);
  line-height: 16px;
  visibility: hidden;
}
.controller .button.pink:hover, .controller .button.pink.hover {
  box-shadow: 1px 1px 4px 1px #f4da9a, inset 4px 0px 1px #ed4b47, inset 3px -4px 1px #ef625e;
  padding-top: 39px;
  padding-left: 14px;
  margin-top: 6px;
}
.controller .button.pink:hover div, .controller .button.pink.hover div {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(1deg) translate3d(-3px, 1px, 0px);
}
.controller .button.pink:active {
  box-shadow: 0px 0px 4px 1px #f4da9a, inset 3px 0px 1px #ed4b47, inset 3px -3px 1px #ef625e;
  padding-top: 38px;
  padding-left: 13px;
  margin-top: 7px;
}

.container.cards {
  justify-content: flex-end;
  min-height: 260px;
  font-family: "ichiban_slim";
}

.draw-deck,
.draw-deck_under-screen {
  height: 230px;
  width: 136px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.draw-deck {
  background: #353450;
  box-shadow: 3px 1px 4px 1px #547d6f, 2px 0px 1px #0c0c12, 2px 1px 1px #161622;
}
.draw-deck.appearing {
  animation-duration: 1.1s;
  animation-name: removeBlur;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  z-index: 11;
}

.draw-deck_under-screen {
  background: #6a9a8a;
  opacity: 0;
}
.draw-deck_under-screen.appearing {
  animation-duration: 1.1s;
  animation-name: appearUnderScreen;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.card {
  --defaultRotation: -10deg;
  --defaultTranslateY: 2%;
  --defaultHeight: 230px;
  --defaultWidth: 136px;
  height: 230px;
  width: 136px;
  border-radius: 5px;
  background: #f9ebc8;
  background-color: transparent;
  perspective: 1000px;
  z-index: 10;
}
.card.flipping {
  position: absolute;
  animation-duration: 0.6s;
  animation-name: drawCard;
}
.card.flipping .container_inner {
  animation-duration: 0.6s;
  animation-name: flipCard;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
.card.flipped {
  transform: translate(-120%, var(--defaultTranslateY)) rotateZ(var(--defaultRotation));
  position: absolute;
  filter: grayscale(0.1);
}
.card.flipped .container_inner {
  transform: rotateY(180deg);
}
.card.flipped .back {
  visibility: hidden;
}
.card.flipped.top_card {
  filter: grayscale(0);
}
.card.spinning {
  animation-duration: 0.6s;
  animation-name: spinAndShrink;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.card:nth-child(3n) {
  --defaultRotation: -9deg;
  --defaultTranslateY: 0%;
}
.card:nth-child(3n) {
  --defaultRotation: -9deg;
  --defaultTranslateY: 0%;
}
.card:nth-child(3n) {
  --defaultRotation: -9deg;
  --defaultTranslateY: 0%;
}
.card:nth-child(4n) {
  --defaultRotation: -11deg;
  --defaultTranslateY: 1%;
}
.card:nth-child(5n) {
  --defaultRotation: -9deg;
  --defaultTranslateY: 1%;
}
.card:nth-child(6n) {
  --defaultRotation: -12deg;
  --defaultTranslateY: 2%;
}
.card:nth-child(7n) {
  --defaultRotation: -8deg;
  --defaultTranslateY: 3%;
}

.container_inner {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

.front {
  background: #f9ebc8;
  overflow: hidden;
  transform: rotateY(180deg);
}
.front .title {
  font-size: 22px;
  position: absolute;
  top: 14px;
  left: 3px;
}
.front .title.title_long {
  font-size: 18px;
}
.front .text-container {
  background: #f9ebc8;
  overflow: hidden;
  border-radius: 3px;
  position: absolute;
  text-align: left;
  top: 60px;
  left: 7%;
  width: 86%;
  box-sizing: border-box;
  border: 2px solid #f06339;
  padding: 6px 4px 2px;
  font-size: 18px;
  display: flex;
  align-items: center;
  min-height: 90px;
}
.front .text-container a {
  color: #353450;
}
.front .card-link {
  font-family: "ichiban_marker";
  position: absolute;
  font-size: 15px;
  color: #F6A6A4;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

.card .polygon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
}

.card .back .background,
.draw-deck .back .background {
  background: #353450;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card .back .background .title-container,
.draw-deck .back .background .title-container {
  padding: 10px 35px 7px;
}
.card .back .background .title,
.draw-deck .back .background .title {
  font-family: "ichiban";
  color: #f06339;
  position: relative;
  top: 0;
  left: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 200%;
  user-select: none;
}
.card .back .background.background_transparent,
.draw-deck .back .background.background_transparent {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #ffb400;
}

.card .front .background {
  background: #353450;
  clip-path: polygon(0% 22%, 0% 100%, 0% 100%, 100% 100%, 100% 15%);
  -webkit-clip-path: polygon(0% 22%, 0% 100%, 0% 100%, 100% 100%, 100% 15%);
  box-sizing: border-box;
  border: 2px solid #ffb400;
}

.card .angle {
  background: #f06339;
  clip-path: polygon(0% 15%, 0% 100%, 0% 21%, 100% 15%, 100% 14%);
  -webkit-clip-path: polygon(0% 15%, 0% 100%, 0% 21%, 100% 15%, 100% 14%);
}

.card .angle2 {
  background: #ffb400;
  clip-path: polygon(0% 19%, 0% 100%, 0% 22%, 100% 16%, 100% 15%);
  -webkit-clip-path: polygon(0% 19%, 0% 100%, 0% 22%, 100% 16%, 100% 15%);
}

.card ul li {
  padding: 3px 14px 2px 3px;
}

@keyframes drawCard {
  from {
    transform: translate(0, 0) rotateZ(0deg);
  }
  10% {
    transform: translate(-30%, calc(var(--defaultTranslateY) + 5%)) rotateZ(calc(var(--defaultRotation) - 5deg));
  }
  20% {
    transform: translate(-50%, calc(var(--defaultTranslateY) + 6%)) rotateZ(calc(var(--defaultRotation) - 25deg));
  }
  30% {
    transform: translate(-100%, calc(var(--defaultTranslateY) + 7%)) rotateZ(calc(var(--defaultRotation) - 45deg));
  }
  40% {
    transform: translate(-130%, calc(var(--defaultTranslateY) + 7%)) rotateZ(calc(var(--defaultRotation) - 35deg));
  }
  50% {
    transform: translate(-140%, calc(var(--defaultTranslateY) + 6%)) rotateZ(calc(var(--defaultRotation) - 20deg));
  }
  60% {
    transform: translate(-138%, calc(var(--defaultTranslateY) + 6%)) rotateZ(calc(var(--defaultRotation) - 12deg));
  }
  70% {
    transform: translate(-130%, calc(var(--defaultTranslateY) + 5%)) rotateZ(calc(var(--defaultRotation) - 8deg));
  }
  80% {
    transform: translate(-127%, calc(var(--defaultTranslateY) + 4%)) rotateZ(calc(var(--defaultRotation) - 5deg));
  }
  90% {
    transform: translate(-123%, calc(var(--defaultTranslateY) + 2%)) rotateZ(calc(var(--defaultRotation) - 2deg));
  }
  to {
    transform: translate(-120%, var(--defaultTranslateY)) rotateZ(var(--defaultRotation));
  }
}
@keyframes flipCard {
  from {
    transform: rotateY(0);
  }
  30% {
    transform: rotateY(15deg);
    box-shadow: 3px 1px 4px 1px #547d6f;
  }
  70% {
    transform: rotateY(180deg);
    box-shadow: 5px 2px 4px 3px #547d6f;
  }
  90% {
    transform: rotateY(182deg);
    box-shadow: 1px 1px 2px 1px #547d6f;
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes spinAndShrink {
  from {
    transform: translate(-120%, var(--defaultTranslateY)) rotateZ(var(--defaultRotation));
    height: var(--defaultHeight);
    width: var(--defaultWidth);
  }
  10% {
    transform: translate(calc(-120% / 0.9), calc(var(--defaultTranslateY) / 0.9)) rotateZ(calc(var(--defaultRotation) + 5deg));
    height: calc(0.9 * var(--defaultHeight));
    width: calc(0.9 * var(--defaultWidth));
  }
  20% {
    transform: translate(calc(-120% / 0.6), calc(var(--defaultTranslateY) / 0.6)) rotateZ(calc(var(--defaultRotation) + 15deg));
    height: calc(0.6 * var(--defaultHeight));
    width: calc(0.6 * var(--defaultWidth));
  }
  25% {
    transform: translate(calc(-120% / 0.3), calc(var(--defaultTranslateY) / 0.3)) rotateZ(calc(var(--defaultRotation) + 40deg));
    height: calc(0.3 * var(--defaultHeight));
    width: calc(0.3 * var(--defaultWidth));
  }
  40% {
    transform: translate(calc(-120% / 0.2), calc(var(--defaultTranslateY) / 0.2)) rotateZ(calc(var(--defaultRotation) + 200deg));
    height: calc(0.2 * var(--defaultHeight));
    width: calc(0.2 * var(--defaultWidth));
  }
  45% {
    transform: translate(calc(-120% / 0.1), calc(var(--defaultTranslateY) / 0.1)) rotateZ(calc(var(--defaultRotation) + 360deg));
    height: calc(0.1 * var(--defaultHeight));
    width: calc(0.1 * var(--defaultWidth));
  }
  to {
    transform: translate(-120%, var(--defaultTranslateY)) rotateZ(calc(var(--defaultRotation) + 720deg));
    height: calc(0.0 * var(--defaultHeight));
    width: calc(0.0 * var(--defaultWidth));
  }
}
@keyframes appearUnderScreen {
  from {
    box-shadow: 0px 0px 0px 0px #547d6f;
    opacity: 1;
  }
  40% {
    box-shadow: 3px 1px 4px 1px #547d6f;
    opacity: 1;
  }
  50% {
    box-shadow: 3px 1px 4px 1px #547d6f;
    opacity: 1;
  }
  to {
    box-shadow: 3px 1px 4px 1px #547d6f;
    opacity: 0;
  }
}
@keyframes removeBlur {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.color_blast {
  border-radius: 50%;
  position: absolute;
  transition: transform 300ms ease-in-out;
  background: #fac557;
}
.color_blast.yellow-vibrant {
  background: #ffb400;
}
.color_blast.red {
  background: #f06339;
}
.color_blast.purple {
  background: #353450;
}
.color_blast.purple-dark {
  background: #2C0E37;
}
.color_blast.pink {
  background: #F6A6A4;
}

@keyframes fadeStatic {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  65% {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeTvIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.television-container {
  justify-content: center;
}
.television.outer-container {
  height: 300px;
  width: 300px;
  min-width: 300px;
  background: #A04668;
  box-shadow: 3px 1px 4px 1px #547d6f, inset 2px 0px 1px #59273a, inset 17px -6px 1px #6b2f45;
  border-radius: 35px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 17px;
  position: relative;
  flex-direction: column;
}
.television.inner-container {
  height: 200px;
  width: 230px;
  background: #F6A6A4;
  position: absolute;
  top: 10%;
  border-radius: 25%;
  box-shadow: 5px -2px 1px 1px #7d3651, -1px 2px 1px 1px #7d3651;
  overflow: hidden;
}
.television iframe {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}
.television iframe .ytp-title-text {
  visibility: hidden;
}
.television.arrow {
  height: 35px;
  width: 25px;
  background: #353450;
  position: absolute;
  bottom: 8%;
  left: 12%;
  filter: drop-shadow(1px 2px 2px #7d3651);
  -webkit-filter: drop-shadow(1px 2px 2px #7d3651);
}
.television.arrow.left {
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.television.arrow.left .angle.upper {
  clip-path: polygon(0% 50%, 100% 0%, 100% 3%, 0% 53%);
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 3%, 0% 53%);
  background: #161622;
}
.television.arrow.left .angle.lower {
  clip-path: polygon(0% 50%, 100% 100%, 100% 95%, 0% 45%);
  -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 95%, 0% 45%);
  background: #0c0c12;
}
.television.arrow.right {
  left: 22%;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.television.arrow.right .angle.left {
  clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  background: #0c0c12;
}
.television.arrow .angle {
  position: absolute;
  width: 100%;
  height: 100%;
}
.television.dial {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #353450;
  position: absolute;
  bottom: 7%;
  right: 10%;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px #7d3651, inset 2px 0px 1px #0c0c12, inset 3px -2px 1px #161622;
}
.television.dial:active {
  box-shadow: 0px 1px 2px 0px #7d3651, inset 0px 0px 1px #0c0c12, inset 0px 0px 1px #161622;
}
.television canvas {
  width: 385px;
  height: 217px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}
.television.display_on iframe {
  animation-name: fadeTvIn;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
.television.display_on canvas {
  opacity: 1;
  animation-duration: 1.5s;
  animation-name: fadeStatic;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
  pointer-events: none;
}
.television.display_on.static_none iframe {
  opacity: 1;
}
.television.display_on.static_none canvas {
  opacity: 0;
}

@keyframes changeColor-bulb {
  from {
    transform: var(--z);
  }
  40% {
    transform: calc(var(--z) - 3);
  }
  60% {
    transform: calc(var(--z) + 2);
  }
  to {
    transform: var(--z);
  }
}
@keyframes changeColor-cord {
  from {
    height: var(--defaultHeight);
  }
  20% {
    height: calc(var(--defaultHeight) + 1px);
  }
  to {
    height: var(--defaultHeight);
  }
}
.lightbulb-container.container {
  position: absolute;
  top: -40px;
}
.lightbulb-container .lightbulb:nth-child(1) .rotate-container {
  --z: 2deg;
}
.lightbulb-container .lightbulb:nth-child(2) .rotate-container {
  --z: -2deg;
}
.lightbulb-container .lightbulb:nth-child(3) .rotate-container {
  --z: 1deg;
}
.lightbulb-container .lightbulb:nth-child(4) .rotate-container {
  --z: -1deg;
}
.lightbulb-container .lightbulb:nth-child(5) .rotate-container {
  --z: -2deg;
}
.lightbulb-container .lightbulb .rotate-container {
  transform: rotateZ(var(--z));
}

.lightbulb.yellow.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.yellow .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.yellow .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.yellow .bulb-base {
  background: #fac557;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.yellow .bulb {
  z-index: -1;
  background: #fac557;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #fcdfa1;
  cursor: pointer;
}
.lightbulb.yellow .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #fbd689 inset, 4px -3px 0px 0px #fbd689 inset;
}
.lightbulb.yellow-vibrant.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.yellow-vibrant .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.yellow-vibrant .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.yellow-vibrant .bulb-base {
  background: #ffb400;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.yellow-vibrant .bulb {
  z-index: -1;
  background: #ffb400;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #ffcb4d;
  cursor: pointer;
}
.lightbulb.yellow-vibrant .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #ffc333 inset, 4px -3px 0px 0px #ffc333 inset;
}
.lightbulb.purple.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.purple .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.purple .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.purple .bulb-base {
  background: #353450;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.purple .bulb {
  z-index: -1;
  background: #353450;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #54527e;
  cursor: pointer;
}
.lightbulb.purple .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #49486f inset, 4px -3px 0px 0px #49486f inset;
}
.lightbulb.purple-dark.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.purple-dark .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.purple-dark .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.purple-dark .bulb-base {
  background: #2C0E37;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.purple-dark .bulb {
  z-index: -1;
  background: #2C0E37;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #5d1e74;
  cursor: pointer;
}
.lightbulb.purple-dark .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #4d1860 inset, 4px -3px 0px 0px #4d1860 inset;
}
.lightbulb.pink.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.pink .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.pink .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.pink .bulb-base {
  background: #F6A6A4;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.pink .bulb {
  z-index: -1;
  background: #F6A6A4;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #fdeaea;
  cursor: pointer;
}
.lightbulb.pink .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #fbd3d2 inset, 4px -3px 0px 0px #fbd3d2 inset;
}
.lightbulb.red.container {
  flex-direction: column;
  align-items: center;
}
.lightbulb.red .cord {
  width: calc(100% + 30px);
  --defaultHeight: 30px;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid #F6A6A4;
  border-top: none;
  margin-bottom: -10px;
  box-shadow: 0px 0px 4px 1px #83c69c;
}
.lightbulb.red .base {
  background: #2b2a41;
  width: 20px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
}
.lightbulb.red .bulb-base {
  background: #f06339;
  width: 20px;
  height: 15px;
  margin: 0px auto -10px;
  cursor: pointer;
}
.lightbulb.red .bulb {
  z-index: -1;
  background: #f06339;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #f59b80;
  cursor: pointer;
}
.lightbulb.red .bulb-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px -1px 0px -8px #f48868 inset, 4px -3px 0px 0px #f48868 inset;
}

.lightbulb.clicked .cord {
  animation-duration: 0.5s;
  animation-name: changeColor-cord;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}
.lightbulb.clicked .rotate-container {
  animation-duration: 0.4s;
  animation-name: changeColor-bulb;
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.mobile {
  display: none;
}

@media (max-width: 599px) {
  html, body {
    overflow-y: hidden;
  }
}

@media (max-width: 599px) {
  .header .title-container {
    flex-direction: column;
    padding-left: 0;
    padding-top: 25px;
  }
  .header .lightbulb-container {
    right: -30px;
  }
  .header .lightbulb .cord {
    --defaultHeight: 27px;
    height: 27px;
  }
  .header > div:nth-child(1) {
    width: 100%;
    padding-left: 5px;
  }
  .header > div:nth-child(2) {
    width: 0;
    min-width: 0;
    padding: 0;
  }
}
@media (max-width: 791px) {
  .header .title-container {
    flex-direction: column;
  }
  .header .title {
    display: none;
  }
  .header .mobile.title {
    display: inline;
    min-width: 100%;
    font-size: 44px;
  }
  .header .lightbulb-container > div:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 599px) {
  .main.container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: calc(100vh - 193px);
    height: calc(100vh - 193px);
    /* Fallback for browsers that do not support Custom Properties */
    height: calc((var(--vh, 1vh) * 100) - 193px);
    width: 100vw;
    /* Fallback for browsers that do not support Custom Properties */
    width: calc(var(--vw, 1vw) * 100 - 30px);
    overflow-y: hidden;
    align-content: flex-start;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
  }
  .main.container * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  .main.container > canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: forestgreen;
  }
  .main.container > div:not(.controller-container) {
    padding-left: 30px;
    padding-right: 30px;
    scroll-snap-align: center;
  }
  .main.container > div:not(.controller-container) > div {
    z-index: 2;
  }
  .main.container .controller-container {
    position: fixed;
    left: calc(15px / 2);
    z-index: 2;
    bottom: -125px;
  }
}

.container {
  display: flex;
  padding: 10px 15px 7px;
  position: relative;
}

.align-items_center {
  align-items: center;
}

.align-items_bottom {
  align-items: flex-end;
}

.justify-content_flex-end {
  justify-content: flex-end;
}

.display_inline {
  display: inline;
}

.display_none {
  display: none !important;
}

.children-display_inline-block > * {
  display: inline-block;
}

.width_full {
  width: 100%;
}

.width_half {
  width: calc(50% - 30px);
  min-width: calc(50% - 30px);
}
@media (max-width: 599px) {
  .width_half {
    width: calc(100% - 30px);
    min-width: calc(100% - 30px);
  }
}

.width_quarter {
  width: calc(25% - 30px);
  min-width: calc(25% - 30px);
}

.text-align_right {
  text-align: right;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.opacity_zero {
  opacity: 0;
}

/* Specifics */
body {
  font-family: "ichiban_stamp";
  color: #353450;
  background: linear-gradient(#6a9a8a 90%, #a6d6b8 10%);
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  /* Fallback for browsers that do not support Custom Properties */
  width: calc(var(--vw, 1vw) * 100);
}

.header {
  background: #a6d6b8;
  box-shadow: 0px 5px 4px 1px #5f8c7d;
  z-index: 10;
}

body .main.container .controller-container {
  order: 1;
}
body .main.container .cards {
  order: 2;
}
body .main.container .television-container {
  order: 3;
}
@media (max-width: 599px) {
  body .main.container .cards {
    order: 1;
  }
  body .main.container .television-container {
    order: 2;
  }
}

@supports (background: paint(something)) {
  .header .title.super_underline {
    /* 
      Optionally set property values. 
      This can be done at root or local scope 
    */
    --extra-underlineNumber: 4;
    /* default: 3 */
    --extra-underlineColor: #F6A6A4;
    /* default: black */
    --extra-underlineSpread: 13;
    /* default: 20 */
    --extra-underlineWidth: 2;
    /* default: 2 */
    background: paint(extra-superUnderline);
    line-height: 1.5;
  }

  .card .back .title,
.draw-deck .back .title {
    --extra-scallopRadius: 8;
    --extra-scallopColor: #F6A6A4;
    --extra-scallopWeight: 3;
    background: paint(extra-scallopedBorder);
    line-height: 2.3;
    padding: 0 19px;
  }
}
.header .title {
  font-size: 38px;
  position: relative;
}

.main {
  background: #6a9a8a;
  justify-content: flex-start;
  align-content: space-around;
  flex-flow: row wrap;
  position: relative;
}
.main > canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
